.border-bottom {
  border-bottom: 1px solid black;
}

/** NAVIGATION */
@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Playfair Display Italic";
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Lora Italic";
  src: url("../fonts/Lora-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Luxurious Roman";
  src: url("../fonts/LuxuriousRoman-Regular.ttf");
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.ttf");
}
@font-face {
  font-family: "Amatic Sc";
  src: url("../fonts/AmaticSC-Regular.ttf");
}
@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-Regular.ttf");
}
p {
  font-family: "Luxurious Roman", sans-serif;
  color: #000;
}

body,
div {
  background-color: #f9fbff;
}

blockquote {
  font-family: "Dancing Script";
  border-left: 1px solid #a239ca;
  padding-left: 1rem;
}

blockquote p {
  font-family: "Dancing Script";
}

.my-font {
  color: #fffff0 !important;
}

.complementary {
  background-color: black;
}

.zenit-main__image {
  top: 0;
  position: fixed;
  padding: 0;
  width: 16%;
}
.zenit-main__image.is-top {
  top: 30%;
}
.zenit-main__image.is-width-200 {
  width: 200px;
}

.otoman {
  font-family: "Otomanopee One", sans-serif;
}

.abril-fat {
  font-family: "Abril Fatface", sans-serif;
}

.playfair {
  font-family: "Playfair Display", sans-serif;
}

.playfair-italic {
  font-family: "Playfair Display Italic", sans-serif;
}

.lora {
  font-family: "Lora", sans-serif;
}

.lora-italic {
  font-family: "Lora Italic", sans-serif;
}

.dancing-script {
  font-family: "Dancing Script";
}

.amatic {
  font-family: "Amatic Sc";
}

.navigation__link:visited {
  color: black;
}

.blog-header {
  flex-direction: column;
}

.blog-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-navigation__title {
  font-size: 0.75rem;
}
.blog-navigation__list {
  display: flex;
  margin-top: -0.5rem;
}
.blog-navigation__links a {
  color: #a239ca;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-right: 2rem;
  font-family: "Amatic Sc";
  font-weight: 600;
  border-bottom: 1px solid black;
}
.blog-navigation__links a:hover {
  color: black;
  margin-right: 2rem;
  text-decoration: none;
}
.blog-navigation__links a:visited {
  color: #a239ca;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-content-list__title {
  text-align: center;
}

.blog-content-list__title a {
  color: #a239ca;
}
.blog-content-list__title a:hover {
  color: #000;
  text-decoration: none;
}

.blog-resources__wavy-line {
  width: 20rem;
  height: 5rem;
}

.blog-sidebar-container {
  width: 20rem;
}

.blog-sidebar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-images__container {
  position: relative;
}

.sidebar-images__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.hail-eris {
  font-family: "Amatic Sc";
  color: white;
  font-size: 2rem;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  width: 100%;
}
.logo__subtext {
  font-size: 2.5rem;
}

.logo a:visited {
  color: black;
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link:active:link {
  color: #a239ca;
}

.navigation__link-subtitle {
  bottom: -15px;
  left: 0;
  right: 0;
  font-size: 12px;
}

/** HERO */
.zenit-home__link {
  text-decoration: none;
  cursor: pointer;
}

.zenit-home__link:hover,
.zenit-home__link:visited {
  color: black;
  text-decoration: none;
}

.zenit-home__image {
  width: 80%;
  margin: 0 auto;
}

.zenit__description {
  font-size: 12px;
}

.zenit-color__purple {
  color: #a239ca;
}

.zenit-color__purple-hover:hover {
  color: #a239ca !important;
  text-decoration: none;
}

.zenit-color__green {
  color: #03a062 !important;
}

.zenit-section__title {
  margin-bottom: 60px;
}

.zenit__blog-page-title {
  color: black;
  padding-top: 10px;
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.zenit__blog-title {
  color: black;
  padding-top: 10px;
  display: inline-block;
  font-family: "Amatic Sc";
  font-size: 2rem;
}

.zenit__blog-subtitle {
  font-size: 14px;
  margin-top: -30px;
  margin-left: 65px;
}

.zenit-list__excerpt {
  margin-bottom: 50px;
}

.zenit-post__subtitle {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
}

.zenit__terminal {
  font-weight: 600;
  color: #4e9a06;
}

.zenit-post__logo {
  width: 10%;
}

.zenit__title {
  text-transform: uppercase;
  font-size: 20px;
  width: 67%;
}

.zenit-tags__row {
  font-size: 12px;
}

.zenit-tags__link {
  font-size: 12px;
  text-transform: uppercase;
  color: #03a062;
  margin-right: 10px;
}
.zenit-tags__link:hover {
  text-decoration: none;
  color: #a239ca;
}

.zenit__title-link {
  color: #a239ca;
}

.zenit__title-link:hover {
  color: #03a062;
  text-decoration: none;
}

.zenit-blog__list {
  margin-top: 50px;
  min-height: 100vh;
}

.zenit-post__content {
  margin-top: 30px;
}

.zenit-post__meta {
  border-top: 1px solid black;
  width: 60%;
  padding: 20px 0 10px;
}

.zenit__foter {
  border-top: 2px solid #a239ca;
}

.text-justify + p {
  text-align: justify;
}

.if-logged-add-70-px {
  top: 70px !important;
}

.secondary-color {
  color: #a239ca;
}

.secondary-color-bg {
  background: #a239ca;
}

.main-title-decoration {
  overflow: hidden;
  text-align: center;
  margin: 4rem;
}

.main-title-decoration:before,
.main-title-decoration:after {
  background-color: black;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  color: #a239ca;
  border-top: 3px solid #a239ca;
}

.main-title-decoration:before {
  right: 2.5em;
  margin-left: -50%;
}

.main-title-decoration:after {
  left: 2.5em;
  margin-right: -50%;
}

.pagination-item {
  border: 1px solid #a239ca;
  padding: 0.7rem 1rem;
  background-color: black;
  color: white;
}

.fa-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.link {
  color: black;
}
.link:hover {
  color: #a239ca;
  text-decoration: none;
}

/*# sourceMappingURL=custom.css.map */
