/** NAVIGATION */

@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf");
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Playfair Display Italic";
  src: url("../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora";
  src: url("../fonts/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lora Italic";
  src: url("../fonts/Lora-Italic-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Luxurious Roman";
  src: url("../fonts/LuxuriousRoman-Regular.ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.ttf");
}

@font-face {
  font-family: "Amatic Sc";
  src: url("../fonts/AmaticSC-Regular.ttf");
}

@font-face {
  font-family: "Dancing Script";
  src: url("../fonts/DancingScript-Regular.ttf");
}

p {
  font-family: "Luxurious Roman", sans-serif;
  color: $black;
}

body,
div {
  background-color: #f9fbff;
}

blockquote {
  font-family: "Dancing Script";
  border-left: 1px solid $secondary-color;
  padding-left: 1rem;
}

blockquote p {
  font-family: "Dancing Script";
}

.my-font {
  color: #fffff0 !important;
}

.complementary {
  background-color: $main-color;
}

.zenit-main__image {
  top: 0;
  position: fixed;
  padding: 0;
  width: 16%;

  &.is-top {
    top: 30%;
  }

  &.is-width-200 {
    width: 200px;
  }
}
.otoman {
  font-family: "Otomanopee One", sans-serif;
}

.abril-fat {
  font-family: "Abril Fatface", sans-serif;
}

.playfair {
  font-family: "Playfair Display", sans-serif;
}

.playfair-italic {
  font-family: "Playfair Display Italic", sans-serif;
}

.lora {
  font-family: "Lora", sans-serif;
}

.lora-italic {
  font-family: "Lora Italic", sans-serif;
}

.dancing-script {
  font-family: "Dancing Script";
}
.amatic {
  font-family: "Amatic Sc";
}

.navigation__link:visited {
  color: $main-color;
}

.blog-header {
  flex-direction: column;
}

.blog-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: 0.75rem;
  }

  &__list {
    display: flex;
    margin-top: -0.5rem;
  }

  &__links a {
    color: $secondary-color;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 2rem;
    font-family: "Amatic Sc";
    font-weight: 600;
    border-bottom: 1px solid $main-color;
  }

  &__links a:hover {
    color: $main-color;
    margin-right: 2rem;
    text-decoration: none;
  }

  &__links a:visited {
    color: $secondary-color;
  }
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-content-list__title {
  text-align: center;
}

.blog-content-list__title a {
  color: $secondary-color;

  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.blog-resources__wavy-line {
  width: 20rem;
  height: 5rem;
}

.blog-sidebar-container {
  width: 20rem;
  //  border-left: 1px solid $main-color;
}

// @keyframes show {
//   from {opacity: 0;}
//   to {opacity: 1;}
// }

.blog-sidebar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  //  opacity: 0;
  // animation-name: show;
  // animation-duration: 4s;
}

.sidebar-images__container {
  position: relative;
}
.sidebar-images__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.blog-sidebar {
}

.blog-footer {
  // background: $secondary-color;
}

.hail-eris {
  font-family: "Amatic Sc";
  color: white;
  font-size: 2rem;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  width: 100%;

  &__subtext {
    font-size: 2.5rem;
  }
}

.logo a:visited {
  color: $main-color;
}

.navigation__link:hover,
.navigation__link:active,
.navigation__link:active:link {
  color: $secondary-color;
}

.navigation__link-subtitle {
  bottom: -15px;
  left: 0;
  right: 0;
  font-size: 12px;
}

/** HERO */
.zenit-home__link {
  text-decoration: none;
  cursor: pointer;
}

.zenit-home__link:hover,
.zenit-home__link:visited {
  color: $main-color;
  text-decoration: none;
}

.zenit-home__image {
  width: 80%;
  margin: 0 auto;
}
.zenit__description {
  font-size: 12px;
}

.zenit-color__purple {
  color: $secondary-color;
}

.zenit-color__purple-hover:hover {
  color: $secondary-color !important;
  text-decoration: none;
}

.zenit-color__green {
  color: $green !important;
}

.zenit-section__title {
  margin-bottom: 60px;
}

.zenit__blog-page-title {
  color: $title;
  padding-top: 10px;
  display: inline-block;
  font-size: 4rem;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.zenit__blog-title {
  color: $title;
  padding-top: 10px;
  display: inline-block;
  font-family: "Amatic Sc";
  font-size: 2rem;
}

.zenit__blog-subtitle {
  font-size: 14px;
  margin-top: -30px;
  margin-left: 65px;
}

.zenit-list__excerpt {
  margin-bottom: 50px;
}

.zenit-post__subtitle {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
}

.zenit__terminal {
  font-weight: 600;
  color: #4e9a06;
}

.zenit-post__logo {
  width: 10%;
}

.zenit__title {
  text-transform: uppercase;
  font-size: 20px;
  width: 67%;
}

.zenit-tags__row {
  font-size: 12px;
}

.zenit-tags__link {
  font-size: 12px;
  text-transform: uppercase;
  color: $green;
  margin-right: 10px;

  &:hover {
    text-decoration: none;
    color: $secondary-color;
  }
}

.zenit__title-link {
  color: $secondary-color;
}

.zenit__title-link:hover {
  color: $green;
  text-decoration: none;
}

.zenit-blog__list {
  margin-top: 50px;
  min-height: 100vh;
}

.zenit-post__content {
  margin-top: 30px;
}

.zenit-post__meta {
  border-top: 1px solid $main-color;
  width: 60%;
  padding: 20px 0 10px;
}

.zenit__foter {
  border-top: 2px solid $secondary-color;
}

// HELPERS
.text-justify + p {
  text-align: justify;
}
.if-logged-add-70-px {
  top: 70px !important;
}

.secondary-color {
  color: $secondary-color;
}

.secondary-color-bg {
  background: $secondary-color;
}

.main-title-decoration {
  overflow: hidden;
  text-align: center;
  margin: 4rem;
  // font-size: 1.6rem;
}
.main-title-decoration:before,
.main-title-decoration:after {
  background-color: $main-color;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  color: $secondary-color;
  border-top: 3px solid $secondary-color;
}
.main-title-decoration:before {
  right: 2.5em;
  margin-left: -50%;
}
.main-title-decoration:after {
  left: 2.5em;
  margin-right: -50%;
}

.pagination-item {
  border: 1px solid $secondary-color;
  padding: 0.7rem 1rem;
  background-color: $main-color;
  color: white;
}

.fa-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

.link {
  color: $main-color;

  &:hover {
    color: $secondary-color;
    text-decoration: none;
  }
}
